.bug-filter {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: var(--clr2bg);
    padding: 10px;
    margin-block-end: 10px;
}

.bug-filter form {
    display: grid;
    grid-template-columns: 100px 200px;
}

.bug-filter input,
select {
    width: 400px;
}

.sortBy-container {
    display: grid;
    grid-template-columns: 100px 30px;
    margin-block-start: 5px;
}

.sortBy-container input {
    width: 20px;
}